<!DOCTYPE html>
<html ng-app="akApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>::Arunkumar::</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Custom stylesheet - for your changes-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="js/ak.js"></script>
    <!-- Tweaks for older IEs-->
</head>

<body ng-controller="ak">
    <nav class="navbar fixed-top navbar-expand-lg shadow-sm navbar-dark bg-primary">
        <a href="index.html" class="navbar-brand">Bio Graphy</a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#exampleModal">Feedback</a></li>
            </ul>
        </div>
    </nav>
    <div class="bg-light">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-7"><br /><br />
                        <h1><b>ARUNKUMAR</b></h1>
                        <p>A Full stack Developer cum Integrator</p>
                    </div>
                    <div class="col-lg-5" align="center">
                        <img src="images/arun.png" alt="Display Picture" class="img-responsive img-rounded" width="150px" height="150px" style="border-radius:70px;" />
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-8 order-2 order-lg-1">
                            <h1>Profile</h1>
                            <p class="lead">
                                Started career as a .NET programmer in Web application development and moving towards business analysis in client base development after working as a cloud service Technical Assistance in Microsoft Azure and Cloud/On-premise Server Management.
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-8 order-2 order-lg-1">
                            <h1>Objective</h1>
                            <p class="lead">
                                To become a Solution Architect in Information Technology for machine critical environments.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <br />
                    <div class="panel panel-blue">
                        <div class="card text-white bg-primary">
                            <div class="card-header"><h2><i class="fas fa-address-card"></i> Contact</h2></div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="fas fa-envelope"></i>
                                    E-Mail
                                </h5>
                                <p>arunkumar.ak1197@gmail.com</p>
                                <h5 class="card-title">
                                    <i class="fas fa-mobile-alt"></i>
                                    Mobile
                                </h5>
                                <p>+91 8056 550667</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container">
            <h1>Work Experience</h1>
            <br />
            <div class="card" style="background-color:#83b5de;">
                <div class="card-body">
                    <h4><i class="fas fa-briefcase"></i> Vcidex Solutions Pvt Ltd.</h4>
                    <p class="text-muted"><span><i class="fas fa-map-marker-alt"></i></span> NSIC STP, Guindy, Chennai<br /><b><i class="fas fa-calendar-alt"></i> [2018-2020]</b></p>
                    <h6 class="card-title"><b>Role</b> -Full Stack Programer</h6>
                    <p>Plays not only the delveloper role other than that Research & Development, System Integration, Business Analysis and Client Base development for design critical environments.</p>
                </div>
            </div>
        </div>
        <br />
        <div class="container">
            <h1>Academic</h1>
            <br />
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card shadow border-0 h-100" style="background-color:#b9d4eb;">
                        <div class="card-body">
                            <h5 class="text-dark"><i class="fas fa-graduation-cap"></i> Under Graduate</h5>
                            <p class="text-muted"><span><i class="fas fa-map-marker-alt"></i></span> Einstein College of Engineering, Tirunelveli, Tamilnadu.</p>
                            <p class="text-muted"><i class="fas fa-calendar-alt"></i> [2014-2018]</p>
                            <p class="card-text">Completed UG(ECE) and Obtained 7.24 CGPA</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card shadow border-0 h-100" style="background-color:#b9d4eb;">
                        <div class="card-body">
                            <h5 class="text-dark"><i class="fas fa-building"></i> Higher Secondary</h5>
                            <p class="text-muted"><span><i class="fas fa-map-marker-alt"></i></span> Ramaswamy Pillai Higher Secondary School, Ilanji, Tenkasi.</p>
                            <p class="text-muted"><i class="fas fa-calendar-alt"></i> [2012-2014]</p>
                            <p class="card-text">Completed HSC and Otained 92.25 % marks</p>                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card shadow border-0 h-100" style="background-color:#b9d4eb;">
                        <div class="card-body">
                            <h5 class="text-dark"><i class="fas fa-school"></i> High School</h5>
                            <p class="text-muted"><span><i class="fas fa-map-marker-alt"></i></span> Annai Theresa R.C Higher Secondary School, Vallam, Tenkasi.</p>
                            <p class="text-muted"><i class="fas fa-calendar-alt"></i> [2002-2012]</p>
                            <p class="card-text">Completed SSLC and obtained 90 % marks</p><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Academic Projects</h1>
            <br />
            <p>
                <div class="row" align="center">
                    <div class="col-6">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Major Project</button>
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body">
                                <h6 align="center">Design and Simulaion of FullAdder in Cadence tool</h6>
                                In our Major project, we used Cadence as a design and simulation platform which is run on Linux server and client mechanism.
                                It comes under VLSI Domain. In the major factors of VLSI (Size, Speed, Power), we focused on Size and we designed a full Adder that reduced the existing design size of the same.

                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Minor Project</button>
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="card card-body">
                                <h6 align="center">Shortest Path Finding System in C</h6>
                                In our minor project, we selected graphics in C language and our aim is to find the shortest path from the origin to the destination.
                                We used Dijkstra's algorithm for the purpose of finding the path. We plotted the shortest path among multiple paths using C graphics library.
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thanks for the Visit !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>If you like to give any feedback to me, please provide it here.</p><br />
                    <form novalidate="" name="feedbackform" ng-model="form1" style="padding:20px;">
                        <div class="form-group">
                            <label><b>Name</b></label><span>*</span>
                            <input class="form-control" type="text" ng-model="vistorName" name="vistorName" required />
                        </div>
                        <div class="form-group">
                            <label><b>E-mail</b></label><span>*</span>
                            <input class="form-control" type="email" ng-model="visitorEmail" name="visitorEmail" required />
                        </div>
                        <div class="form-group">
                            <label><b>Comments</b></label><span>*</span>
                            <textarea class="form-control" type="text" ng-model="visitorComment" name="visitorComment" required> </textarea>
                        </div>
                        <div>
                            <button type="submit" ng-disabled="feedbackform.$invalid" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
